# MAAI Bootcamp :: Activity: End-to-end ML

## Introduction

In this exercise, you will work with a small dataset called *Amsterdam Housing Prices*. The objective is very similar to the example we have seen before: Based on the features of the dataset, you should predict the price of the property.

Your task is develop the necessary tasks for each step.

## 1. Look at the big picture

Hint: You should frame the problem and define one or more performance measures

## 2. Get the data

The code below opens the Amsterdam Housing dataset, available [here](https://www.kaggle.com/datasets/thomasnibb/amsterdam-house-price-prediction).

In [1]:
import pandas as pd

def load_housing_data():
    return pd.read_csv('exercise_dataset/HousingPrices-Amsterdam-August-2021.csv')
    
housing = load_housing_data()

housing.head()

,Unnamed: 0,Address,Zip,Price,Area,Room,Lon,Lat
0,1,"Blasiusstraat 8 2, Amsterdam",1091 CR,685000.0,64,3,4.907736,52.356157
1,2,"Kromme Leimuidenstraat 13 H, Amsterdam",1059 EL,475000.0,60,3,4.850476,52.348586
2,3,"Zaaiersweg 11 A, Amsterdam",1097 SM,850000.0,109,4,4.944774,52.343782
3,4,"Tenerifestraat 40, Amsterdam",1060 TH,580000.0,128,6,4.789928,52.343712
4,5,"Winterjanpad 21, Amsterdam",1036 KN,720000.0,138,5,4.902503,52.410538

## Explore and visualize the data to gain insights

Hints:
- Visualise distributions
- Find correlations
- Try out some attribute combinations or data augmentation

## Prepare the data for machine learning algorithms

Hints:
- Check the existence of missing values
- Apply transformations such as feature scaling

## 5. Select a model and train it

Hints:
- You can use the models shown in the example (e.g. Linear regression, Decision Trees, Random Forests)
- Feel free to choose different ones (e.g. XGBoost, SVR)

## 6. Fine-tune your model

This step is optional, and you can implement if you have previous experience with optimisation (e.g. GridSearch, RandomSearch, etc.)

## 7. Present your solution

Here you should show how 


## 8. Launch, monitor, and maintain your system

This step is out of the scope of the exercise.

## 9. Reflect on the what you did

Take some time, reflecting on what you did and how you have peformed. Use the the following learning outcomes of the Master of Applied AI as a basis:

B1: Je verkent en prepareert een dataset voor het trainen en testen van een AI-model en kan de voor- en nadelen van het gebruik van een bestaande dataset onderbouwen, rekening houdend met technische en ethische randvoorwaarden. 

B2: Je stelt op basis van requirements en data een geschikte architectuur voor een AI-oplossing op en selecteert daarvoor passende AI-technieken gebruik makend van bijvoorbeeld machine learning, deep learning, kennisrepresentatie, computer vision en natural language processing. 

D1: Je verzamelt en verwerkt actief feedback over de eigen kennis, vaardigheden en ontwikkeling en laat zien deze feedback te kunnen gebruiken om je werk te verbeteren.